/************************start reset**************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, 
/*html 5 elements*/
article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video,command, datalist, keygen, mark, meter, progress, rp, rt, wbr{
margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;
/*	vertical-align: baseline;*/}
/* html5 elements for older browsers*/
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block;}
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr {display:inline;}
audio, canvas, progress, video {display: inline-block;vertical-align: baseline/*Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.*/;}
/* Refine/enforce the preferred box model: Make borders and padding drawn inside the set width of your content. The margin is drawn outside.*/
div, span, article, section, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
/* using height:100% on html and body allows to style containers with a 100% height
 * the overflow declaration is to make sure there is a gutter for the scollbar in all browsers regardless of content
 * note that there is no font-size declaration set in this rule. If you wish to include one, you should use font-size: 100.01% to prevent bugs in IE and Opera
 */
html {height: 100%; /*overflow-y: scroll;*/ font-size:100.01%;
font-family: sans-serif;
-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */}
/* not all browsers set white as the default background color
 * color is set to create not too much contrast with the background color
 * line-height is to ensure that text is legible enough (that there is enough space between the upper and lower line)
 */
body {height:100%; line-height:1.4; color:#1a1a1a;background:white;}
/*** start typography ***/
/* this choice of font-family is supposed to render text the same across platforms
 * letter-spacing makes the font a bit more legible
 */
body, input, button, textarea, select {font-family: "Lucida Sans Unicode","Lucida Grande","Lucida Sans",Verdana,Arial, sans-serif; /*letter-spacing:1px;*/}
h1, h2, h3, h4, h5, h6 {font-family: Georgia, "DejaVu Serif", serif; letter-spacing: 1px;}
pre, tt, code, kbd, samp, var {font-family: "Courier New", Courier, monospace;}
/* Contain overflow in all browsers. */
PRE { overflow: auto;}
/* avoid browser default inconsistent heading font-sizes - and pre/code/kbd too */
H1, H2, H3, H4, H5, H6, PRE, CODE, KBD {font-size:1em; }
H1, H2, H3, H4, H5, H6{font-weight:700;}
/*ensure font-weight heritage for headings with links inside also on IE8*/
H1 A, H2 A, H3 A,H4 A, H5 A, H6 A { font-weight: inherit;}
H1 {font-size: 2.625em;}/*golden 16 main 42 title*/
H2 {font-size: 1.625em;}/*golden 16 main 26 headline*/
H3 {font-size: 1.25em;}/*golden 16 main sub-headline*/
H4 {font-size: 1.2em;}
H5 {font-size: 1.1em;}
H6 {font-size: 1em;}
/* Address inconsistent and variable font size in all browsers. */
SMALL {font-size: 80%;}
/*SUP and SUB fix to maintain line-height*/SUP, SUB {height: 0;line-height: 1;vertical-align: baseline;_vertical-align: bottom;position: relative;font-size:smaller;}SUP {bottom: 1ex;}SUB {top: .5ex;}
TH, DT, B, STRONG{font-weight:700;}
/* This should be self explanatory */blockquote, q, em, cite, dfn, i, cite, var {font-style: italic;}
/* to prevent some browsers from inserting quotes on "q" and "p" ("p" in blockquotes)*/blockquote p:before, blockquote p:after, q:before, q:after {content: '';}blockquote, q {quotes: "" "";}
/* link underlines tend to make hypertext less readable, because underlines obscure the shapes of the lower halves of words */:link,:visited,INS {text-decoration:none;}
/*** end typography ***/
/* de-italicize address,abbr */address,abbr {font-style:normal;}
abbr[title] {border-bottom: 1px dotted;}
/*** start TABLEs ***/
/* tables still need 'cellspacing="0"' and 'cellpadding="0"' in the markup */table {border-collapse: separate;border-spacing: 0;}
/* all th should be centered unless they are in tbody (table body) */
th {text-align: center;}tbody th {text-align: left;}caption, td {text-align: left;font-weight: normal;}
/* caption and summary are very important for tabular data but because caption is nearly impossible to style across browsers many authors do not use it or use display:none to "hide" it (which is almost the same as not using it).
 * so to prevent such workaround, I am positioning this element off-screen
 */caption{position: absolute;left: -999em;}
/*** end TABLEs ***/
/*** start rules to make LISTs consistant across all browsers ***/
/* give lists consistant style - IE uses margin-left FF uses padding-left */
OL, UL{margin:0px;padding:0px;line-height:1.5em;}
OL{list-style:decimal;}
OL OL{list-style:lower-alpha;}
OL OL OL{list-style:upper-roman;}
UL{list-style:disc;}
UL UL{list-style:circle;}
UL UL UL{list-style:square;}
DL, OL, UL {margin-top:.25em;margin-left: 3em; padding-left: 0em; list-style-position:outside;}
/* nested lists get reduced margins and paddings */
UL UL , OL OL, OL UL, UL OL {margin-left: 1em;list-style-position:outside;}
OL OL UL, UL OL UL, OL OL OL {margin-left: 1em;list-style-position:outside;}
LI{margin:0 1em .5em 0;padding:0;text-indent:0em;}
DT{/*float:left;clear:left;*/font-weight:bold; margin-right:.5em;}
DD{margin-left:0;padding-left:0;-webkit-margin-start:0px;font-weight:normal;margin-bottom:.5em;}
LI>UL, LI>OL{margin-top:.25em;/*margin-bottom:-.5em;*/padding-bottom:-.25em;}
/* if we want to override default list style types do it with a class... */
UL.circle {list-style-type:circle;}
UL.square {list-style-type:square;}
UL.disc{list-style-type:disc;}/*The marker is a filled circle. This is default*/
OL.armenian{list-style-type:armenian;}/*The marker is traditional Armenian numbering*/
OL.decimal{list-style-type:decimal;}/*The marker is a number*/
OL.decimal-leading-zero{list-style-type:decimal-leading-zero;}/*The marker is a number padded by initial zeros (01, 02, 03, etc.)*/
OL.georgian{list-style-type:georgian;}/*The marker is traditional Georgian numbering (an, ban, gan, etc.)*/
OL.lower-alpha{list-style-type:lower-alpha;}/*The marker is lower-alpha (a, b, c, d, e, etc.)*/
OL.lower-greek{list-style-type:lower-greek;}/*The marker is lower-greek (alpha, beta, gamma, etc.)*/
OL.lower-latin{list-style-type:lower-latin;}/*The marker is lower-latin (a, b, c, d, e, etc.)*/
OL.lower-roman{list-style-type:lower-roman;}/*The marker is lower-roman (i, ii, iii, iv, v, etc.)*/
OL.upper-alpha{list-style-type:upper-alpha;}/*The marker is upper-alpha (A, B, C, D, E, etc.)*/
OL.upper-latin{list-style-type:upper-latin;}/*The marker is upper-latin (A, B, C, D, E, etc.)*/
OL.upper-roman{list-style-type:upper-roman;}/*The marker is upper-roman (I, II, III, IV, V, etc.)*/
UL.none{list-style-type:none;}
/*** end rules to make LISTs consistent across all browsers ***/
/*** start FORM elements ***/
button,input,optgroup,select,textarea {color: inherit; font: inherit; margin: 0;}
/* Address `overflow` set to `hidden` in IE 8/9/10. */
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
/* Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input {line-height: normal;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;  padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {margin: 0 2px; padding: 0.35em 0.625em 0.75em; border: 1px solid #c0c0c0;}
textarea {overflow: auto;}
/* Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {font-weight: bold;}
/* get rid of ugly box border in IE*/
INPUT[type="radio"]{margin:0;padding:0;border:0;background-color:transparent;}
/* align checkboxes, radios, text inputs with their label */
INPUT[type="radio"] { vertical-align: text-bottom; }
INPUT[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 INPUT{ vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer;}
input[type=button], input[type=submit], button{white-space:nowrap;}/*buttons with multiple lines look dumb and usually wrong*/
/*** end FORM elements ***/
/*** start links ***/
/* remember to define focus styles! */:focus {outline: 0;}
/* who thought blue linked image borders were a good idea? */a img,:link img,:visited img, a object,:link object,:visited object{ border:0; }
/*some long-arse links refused to break nicely, this fixes*/A{word-wrap:break-word;}
/* to prevent a gap from showing below images in some browsers */img {vertical-align: bottom;}
/* styling for links and visited links as well as for links in a hovered, focus and active state
 * make sure to keep these rules in that order, with :active being last
 * text-decoration: none is to make the links more legible while they are in a hovered, focus or active state
 * link underlines tend to make hypertext less readable, because underlines obscure the shapes of the lower halves of words
 * a:focus and :focus are used to help keyboard users, you may change their styling, but make sure to give users a visual clue of the element's state.
 * outline:none used with the pseudo-class :hover is to avoid outline when a user clicks on links
 * note that these last rules do not do anything in IE as this browser does not support "outline"
 */
a:link {color: #0000FF;text-decoration:none;}
a:visited {color: #800080;text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {text-decoration: none;}
a:focus/*,:focus*/ {outline: 1px dotted yellow;}
a:hover,a:active {outline: none;}
a:active{color: #FF0000;}
/*** end links ***/
IFRAME{width:100%;}
/* Prevent modern browsers from displaying `audio` without controls. + Remove excess height in iOS 5 devices. */
AUDIO:not([controls]) {display: none;height: 0;}
/* Correct overflow displayed oddly in IE 9. */
SVG:not(:root) {overflow: hidden;}

/************************end reset**************************/
/* #content{background:#CCC;}
.onecol{margin:0 auto;padding:.0125em 1em 1em;width:800px;background:#FAFAFA;}
P{margin:.75em 0;} */
.container {
margin: 0 auto;
max-width: 48rem;
width: 90%;
}

/*** Add the Viewport Meta Tag to your HTML
<meta name="viewport" content="width=device-width, initial-scale=1">
***/

/******** start mobile devices ********/
@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
/* Style adjustments for landscape mode goes here */
}
/******** end mobile devices ********/




/* simple responsive grid ref: http://www.adamkaplan.me/grid/ */
/* Small screens (default) *//* html { font-size: 100%; } we already set above*/
/* Medium screens (640px) */@media (min-width: 40rem) {
	html { font-size: 112%; }
	.column {
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
	}
	.column.full { width: 100%; }
	.column.two-thirds { width: 66.6%; }
	.column.half { width: 50%; }
	.column.third { width: 33.3%; }
	.column.fourth { width: 25%; }
	.column.flow-opposite { float: right; } 
}
/* Large screens (1024px) */@media (min-width: 64rem) {
	html { font-size: 120%; }
}

.clearfix:before, .row:before,
.clearfix:after, .row:after {
content: " ";
display: table;
}
 
.clearfix:after, .row:after {
clear: both;
}
 
.clearfix, .row {
*zoom: 1;
}

.container {border: 2px dashed rgba(0, 0, 0, 0.3);




















